html {
  height: 100%;
  width: 100%;
}

#terrain {
  margin-left: 15%;
  width: 70%;
  aspect-ratio: 0.69;
  background-image: url("images/img/terrainDeFoot.jpeg");
  background-size: cover;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-around;
}

@media (min-width: 100vh) {
  #terrain {
      width: 30%;
      margin-left: 35%;
  }
}

#gardien {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.ligneJoueurs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.joueur {
  width: 15%;
  aspect-ratio: 0.69;
  background-image: url("images/img/empty.png");
  background-size: cover;
}