html {
  height: 100%;
  width: 100%;
}

#terrain {
  margin-left: 10%;
  width: 80%;
  aspect-ratio: 0.69;
  background-image: url("images/img/terrainDeFoot.jpeg");
  background-size: cover;
}

table{
  height: 100%;
  width: 100%;
}

tr>div {
  width: 10%;
  aspect-ratio: 0.5;
  background-image: url("images/img/empty.png");
  background-size: cover;
}

.gardien {
  margin-left: 42.5%;
}

.defenseur {
  margin-left: 5%
}

.milieu {
  margin-left: 5%
}

.attaquant {
  margin-left: 5%
}