*{
  border: 0;
  margin: 0;
  padding: 0;
}

#terrain {
  margin: auto;
  height: 70vh;
  aspect-ratio: 0.69;
  background-image: url("images/img/terrainDeFoot.jpeg");
  background-size: cover;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-around;
}

#terrain {
  grid-column: 2;
  width: 50%;
  height: auto;
}

#gardien {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.ligneJoueurs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.joueur {
  width: 15%;
  aspect-ratio: 0.69;
  background-image: url("images/img/empty.png");
  background-size: cover;
}

#options{
  height: 10vh;
}

#listeJoueurs{
  margin-left: 5%;
  padding: 2%;
  border: 3px solid black;
  background-color: grey;
}

.carte {
  background-image: url("images/img/empty.png");
  background-size: cover;
  width: 17%;
  margin: 1%;
  aspect-ratio: 0.69;
  float: left;
}

#bloc {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}